/* Everything that is global comes in here */

.main-container {
  padding-bottom: 40px;
  margin: 60px 90px;
  border-radius: var(--border-radius);
  background-color: var(--dark-gray);
  box-shadow: var(--box-shadow-big);
  height: fit-content;
  width: 100%;
}

.navbar {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  padding: 8px 12px 8px 12px;
  height: 100px;
  width: 100%;
  background-color: var(--dark-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.navbar-icon-headline {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar-icon-headline img {
  height: 70px;
  aspect-ratio: 1/1;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-right: 50px;
}

.navbar-links a {
  color: var(--color-text);
  font-size: 20px;
  transition: 0.225s ease-out;
}

.navbar-links a:hover,
.navbar-links a:focus,
.navbar-links a:active {
  color: white;
  text-decoration: underline;
  scale: 1.1;
}

.burger-menu {
  /* margin-right: 25px; */
  display: none;
}

.burger-menu img {
  display: grid;
  place-items: center;
  cursor: pointer;
  width: 45px;
  aspect-ratio: 1/1;
}

.background-img {
  box-shadow: var(--box-shadow);
}

.background-img img {
  width: 100%;
}

.headline-bestseller {
  padding: var(--padding-left-right);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: var(--margin-top);
  margin-bottom: var(--margin-bottom);
}

.line-decoration {
  background-color: var(--color-text);
  height: 1.5px;
  width: 100%;
  border-radius: 50px;
}

.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100%;
  display: grid;
  place-items: center;
  backdrop-filter: blur(10px);
}

.container-bookdetails {
  overflow-y: auto;
  position: relative;
  max-height: 85%;
  /* height: auto; */
  width: 60%;
  display: flex;
  align-items: start;
  background-color: var(--color-text);
  padding: 60px 40px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 6px 6px rgba(0, 0, 0, 0.3), inset 0 0 10px rgba(255, 255, 255, 0.1);
}

.container-bookdetails h1 {
  color: var(--dark-gray);
}

.container-bookdetails img {
  border-radius: var(--border-radius);
}

.content-bookdetails {
  /* display: flex; */
  display: grid;
  grid-template-columns: 45% 50%;
  column-gap: 5%;
  /* grid-template-rows: 70% 70%; */
  grid-template-areas:
    'eins zwei'
    'eins drei';
  width: 100%;

  /* justify-content: space-between; */
}

.right-content-bookdetails {
  /* width: 50%; */
  grid-area: zwei;
}

.right-content-bookdetails h1 {
  font-size: 26px;
}

.price-likes {
  padding: var(--padding-top-bottom);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border-container);
}

.price-likes span,
p {
  color: var(--dark-gray);
  font-size: 20px;
}

.likes-liked {
  display: flex;
  align-items: center;
  width: 180px;
  justify-content: space-between;
}

.likes-liked p {
  display: inline;
}

.heart-box {
  position: relative;
  display: flex;
  width: 50px;
  aspect-ratio: 1/1;
}

.heart-black,
.heart-red {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
}

.close-icon-overlay {
  position: absolute;
  display: grid;
  place-items: center;
  top: 10px;
  right: 10px;
  aspect-ratio: 1/1;
  width: 50px;
  border-radius: 10px;
  background: #986552;
  box-shadow: 5px 5px 10px #754e3f, -5px -5px 10px #bb7c65;
  cursor: pointer;
  /* transition: all 3s ease-in-out; */
  /* transition: all 3s ease-out; */
}

.close-icon-overlay:hover,
.close-icon-overlay:focus,
.close-icon-overlay:active {
  border-radius: 10px;
  background: #986552;
  box-shadow: inset 5px 5px 10px #754e3f, inset -5px -5px 10px #bb7c65;
}

.close-icon-overlay img {
  padding: 5px;
  width: inherit;
}

.img-bookdetails-box {
  max-width: 90%;
  /* max-width: 435px; */
  /* height: 60%; */
  height: fit-content;
  background-color: transparent;
  grid-area: eins;
}

.img-bookdetails {
  object-fit: cover;
  width: 100%;
  box-shadow: var(--box-shadow-book);
  border-radius: var(--border-radius);
}

.bookdetails-table {
  padding: var(--padding-top-bottom);
  border-bottom: var(--border-container);
}

.comments-bookdetails {
  padding: var(--padding-top-bottom);
  grid-area: drei;
}

.comments-container {
  display: flex;
  flex-direction: column;
  height: 245px;
  margin-top: 10px;
  overflow-y: scroll;
  padding: 10px 0 20px 0;
}

.comments-container::-webkit-scrollbar {
  width: 6px;
}

.comments-container::-webkit-scrollbar-thumb {
  background: var(--dark-gray);
}

.comments-container::-webkit-scrollbar-thumb:hover {
  background: var(--dark-gray);
}

.comments-content {
  width: 100%;
  gap: 2%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.comment-username,
.comment-usertext {
  width: 98%;
}

.comment-username,
.comment-usertext span {
  overflow-wrap: break-word;
}

.comment-usertext span {
  font-weight: 300;
}

.comments-bookdetails h2,
.comments-container span {
  color: var(--dark-gray);
}

.input-field-new-comment textarea {
  width: 100%;
  border: 1px solid var(--dark-gray);
  resize: none;
  outline: none;
  padding-left: 3px;
  caret-color: var(--dark-gray);
  font-size: 18px;
  color: var(--dark-gray);
  background-color: var(--backgroundcolor-textarea);
}

.input-field-new-comment textarea::placeholder {
  font-weight: bold;
}

.btn-new-post {
  border: none;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  background: #986552;
  box-shadow: 5px 5px 10px #754e3f, -5px -5px 10px #bb7c65;
  /* transition: all 3s ease-out; */
}
.btn-new-post:enabled:hover,
.btn-new-post:enabled:focus,
.btn-new-post:enabled:active {
  border-radius: 10px;
  background: #986552;
  box-shadow: inset 5px 5px 10px #754e3f, inset -5px -5px 10px #bb7c65;
}
