/* Everything that is global comes in here */
body {
  margin: 0;
  background-color: #d0c8b9;
  display: flex;
}

:root {
  /* color */
  --dark-gray: #1f2a34;
  --blue: #1c8adb;
  --color-text: #986552;

  /* border */
  --border-radius: 10px;

  /* box-shadow */
  --box-shadow-small: 0px 4px 6px rgba(0, 0, 0, 0.3);
  --box-shadow-big: 15px 14px 12px 8px #212121e6;
  --box-shadow-book: 9px 10px 17px 9px hsl(0deg 0.51% 6.42%);

  /* margin */
  --margin-top: 30px;
  --margin-bottom: 30px;

  /* padding */
  --padding-left-right: 0 60px 0 60px;
}

.main-container {
  padding-bottom: 40px;
  margin: 60px 90px;
  border-radius: var(--border-radius);
  background-color: var(--dark-gray);
  box-shadow: var(--box-shadow-big);
  height: fit-content;
  width: 100%;
}

.navbar {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  padding: 8px 12px 8px 12px;
  height: 100px;
  width: 100%;
  background-color: var(--dark-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.navbar-icon-headline {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar-icon-headline img {
  height: 70px;
  aspect-ratio: 1/1;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-right: 50px;
}

.navbar-links a {
  color: var(--color-text);
  font-size: 20px;
  transition: 0.225s ease-out;
}

.navbar-links a:hover {
  color: white;
  text-decoration: underline;
  scale: 1.1;
}

.background-img {
  box-shadow: var(--box-shadow);
}

.background-img img {
  width: 100%;
}

.headline-bestseller {
  padding: var(--padding-left-right);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: var(--margin-top);
  margin-bottom: var(--margin-bottom);
}

.line-decoration {
  background-color: var(--color-text);
  height: 1.5px;
  width: 100%;
  border-radius: 50px;
}

.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100%;
  display: grid;
  place-items: center;
  backdrop-filter: blur(10px);
  transition: all 0.5s ease;
}

.container-bookdetails {
  position: relative;
  height: 85%;
  width: 50%;
  display: flex;
  align-items: start;
  background-color: var(--color-text);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 6px 6px rgba(0, 0, 0, 0.3), inset 0 0 10px rgba(255, 255, 255, 0.1);
}

.container-bookdetails h1 {
  color: var(--dark-gray);
}

.container-bookdetails img {
  border-radius: var(--border-radius);
}

.close-icon-overlay {
  position: absolute;
  display: grid;
  place-items: center;
  top: 10px;
  right: 10px;
  aspect-ratio: 1/1;
  width: 50px;
  border-radius: 10px;
  background: #986552;
  box-shadow: 5px 5px 10px #754e3f, -5px -5px 10px #bb7c65;
  cursor: pointer;
}

.close-icon-overlay:hover {
  border-radius: 10px;
  background: #986552;
  box-shadow: inset 5px 5px 10px #754e3f, inset -5px -5px 10px #bb7c65;
}

.close-icon-overlay img {
  padding: 5px;
  width: inherit;
}

.blablabla {
  display: flex;
  gap: 40px;
}

.img-bookdetails {
  box-shadow: var(--box-shadow-book);
  width: 330px;
}
