/* This is where the style of buttons, for example, comes in */

button:disabled,
button[disabled] {
  cursor: not-allowed;
  color: var(--light-gray);
}

button {
  cursor: pointer;
  color: var(--dark-gray);
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-text);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-gray);
  cursor: grab;
}

::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

/* width */
.container-bookdetails::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.container-bookdetails::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

/* Handle */
.container-bookdetails::-webkit-scrollbar-thumb {
  background: var(--dark-gray);
  border-radius: 10px;
}

/* Handle on hover */
.container-bookdetails::-webkit-scrollbar-thumb:hover {
  cursor: grab;
}

.container-bookdetails::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

/* width */
.input-field-new-comment textarea::-webkit-scrollbar {
  width: 2px;
  color: var(--dark-gray);
}

.input-field-new-comment textarea::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

.input-field-new-comment textarea::-webkit-scrollbar-thumb {
  background: var(--dark-gray);
  border-radius: 10px;
}

/* responsive view */
/* large: 1200px */
/* laptops: 992px */
/* tablets: 768px */
/* phones: 600px */
@media screen and (max-width: 1750px) {
  .right-content-bookdetails h1 {
    font-size: 20px;
  }
  .price-likes span,
  p {
    font-size: 18px;
  }

  th,
  td {
    font-size: 18px;
  }
}

@media screen and (max-width: 1070px) {
  .navbar-links {
    margin-right: 12px;
  }
  .navbar-links a {
    font-size: 14px;
  }

  .navbar-icon-headline h1 {
    font-size: 20px;
  }

  .headline-bestseller h2 {
    font-size: 18px;
  }

  .navbar-icon-headline img {
    height: 58px;
  }

  .single-book-main-view span {
    font-size: 16px;
  }
}

@media screen and (max-width: 992px) {
  tbody th {
    font-size: 17px;
  }

  .content-bookdetails {
    grid-template-columns: 40% 55%;
    grid-template-rows: 63%;
    grid-template-areas:
      'eins zwei'
      'drei drei';
    width: 100%;
  }

  .comments-container {
    height: 150px;
  }

  .comments-bookdetails {
    border-top: var(--border-container);
  }

  .bookdetails-table {
    border-bottom: unset;
  }

  .price-likes {
    justify-content: unset;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 8px;
  }

  .likes-liked {
    justify-content: start;
  }

  .heart-box {
    width: 40px;
    margin-left: 3px;
  }
}

@media screen and (max-width: 910px) {
  .navbar-links {
    gap: 16px;
  }
}

@media screen and (max-width: 870px) {
  .content-bookdetails {
    grid-template-rows: 60%;
  }
  table tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  table td {
    padding-left: unset !important;
  }
}

@media screen and (max-width: 820px) {
  .navbar-links {
    display: none;
  }

  .burger-menu {
    display: flex;
  }

  .navbar {
    height: 85px;
  }
}

@media screen and (max-width: 800px) {
  .close-icon-overlay {
    width: 46px;
  }
}

@media screen and (max-width: 760px) {
  .headline-bestseller {
    padding: 0 30px 0 30px;
    gap: 10px;
  }
}

@media screen and (max-width: 755px) {
  .content-bookdetails {
    grid-template-rows: 57%;
  }
}

@media screen and (max-width: 740px) {
  .right-content-bookdetails h1 {
    font-size: 19px;
  }
}

@media screen and (max-width: 675px) {
  .main-container {
    padding: 0;
    margin: 0;
    border-radius: unset;
    box-shadow: none;
    height: unset;
  }

  .bestseller-book-section {
    margin-bottom: 35px;
  }

  .container-bookdetails {
    height: 100dvh;
    width: 100%;
    max-height: unset;
    border-radius: unset;
    box-shadow: none;
  }

  .comments-container {
    height: 245px;
  }
}

@media screen and (max-width: 670px) {
  .burger-menu img {
    width: 35px;
  }
}

@media screen and (max-width: 630px) {
  .content-bookdetails {
    grid-template-columns: 100%;
    grid-template-rows: 32% 26% 47%;
    column-gap: unset;
    grid-template-areas:
      'eins eins'
      'zwei zwei'
      'drei drei';
  }

  .img-bookdetails-box,
  .right-content-bookdetails {
    justify-self: center;
    align-self: center;
  }

  .img-bookdetails-box {
    width: 150px;
  }

  .container-bookdetails {
    padding: 0 20px;
  }

  table tbody {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  table tr {
    display: flex;
    flex-direction: unset;
    margin-bottom: unset;
  }

  table td {
    padding-left: 10px !important;
  }

  .right-content-bookdetails {
    width: 100%;
  }

  .right-content-bookdetails h1 {
    text-align: center;
  }

  .price-likes {
    justify-content: space-between;
    flex-direction: unset;
    align-items: center;
  }
}

@media screen and (max-width: 535px) {
  .close-icon-overlay {
    width: 40px;
    border-radius: 7px;
  }

  .btn-new-post {
    font-size: 18px;

    border-radius: 7px;
  }

  .input-field-new-comment textarea,
  .input-field-new-comment textarea::placeholder {
    font-size: 16px;
  }
}

@media screen and (max-width: 470px) {
  .headline-bestseller {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 435px) {
  .burger-menu {
    margin-right: 0;
  }

  .burger-menu img {
    width: 26px;
  }

  .navbar-icon-headline h1 {
    font-size: 18px;
  }

  .headline-bestseller h2 {
    font-size: 16px;
  }

  .navbar-icon-headline img {
    height: 50px;
  }

  .navbar {
    height: 70px;
  }
}

@media screen and (max-width: 410px) {
  .navbar-icon-headline img {
    height: 40px;
  }

  .navbar-icon-headline h1 {
    font-size: 17px;
  }
}

@media screen and (max-width: 370px) {
  .burger-menu img {
    width: 20px;
  }

  .navbar-icon-headline {
    gap: 8px;
  }

  .navbar-icon-headline h1 {
    font-size: 16px;
  }

  .headline-bestseller h2 {
    font-size: 16px;
  }

  .single-book-main-view span {
    font-size: 15px;
  }

  .navbar {
    height: 60px;
  }

  .price-likes {
    justify-content: unset;
    flex-direction: column;
    align-items: flex-start;
  }

  .content-bookdetails {
    grid-template-rows: 32% 29% 47%;
  }
}

@media screen and (max-width: 340px) {
  .burger-menu img {
    width: 16px;
  }

  .navbar-icon-headline img {
    height: 35px;
  }
}
