/* This is where the style of buttons, for example, comes in */

button:disabled,
button[disabled] {
  cursor: not-allowed;
  color: var(--light-gray);
}

button {
  cursor: pointer;
  color: var(--dark-gray);
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-text);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-gray);
  cursor: grab;
}

::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

/* width */
.container-bookdetails::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.container-bookdetails::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

/* Handle */
.container-bookdetails::-webkit-scrollbar-thumb {
  background: var(--dark-gray);
  border-radius: 10px;
}

/* Handle on hover */
.container-bookdetails::-webkit-scrollbar-thumb:hover {
  cursor: grab;
}

.container-bookdetails::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

/* width */
.input-field-new-comment textarea::-webkit-scrollbar {
  width: 2px;
  color: var(--dark-gray);
}

.input-field-new-comment textarea::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

.input-field-new-comment textarea::-webkit-scrollbar-thumb {
  background: var(--dark-gray);
  border-radius: 10px;
}
